---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: prowlarr
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: prowlarr-secret
    template:
      data:
        PROWLARR__AUTH__APIKEY: "{{ .PROWLARR__AUTH__APIKEY }}"
        PROWLARR__POSTGRES_HOST: "{{ .PROWLARR__POSTGRES_HOST }}"
        PROWLARR__POSTGRES_PORT: "{{ .PROWLARR__POSTGRES_PORT }}"
        PROWLARR__POSTGRES_USER: "{{ .PROWLARR__POSTGRES_USER }}"
        PROWLARR__POSTGRES_PASSWORD: "{{ .PROWLARR__POSTGRES_PASSWORD }}"
        PROWLARR__POSTGRES_MAIN_DB: "{{ .PROWLARR__POSTGRES_MAIN_DB }}"
        PROWLARR__POSTGRES_LOG_DB: "{{ .PROWLARR__POSTGRES_LOG_DB }}"
  dataFrom:
    - extract:
        key: prowlarr
