---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: bazarr
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: bazarr-secret
    template:
      data:
        POSTGRES_ENABLED: "true"
        POSTGRES_HOST: "{{ .POSTGRES_HOST }}"
        POSTGRES_USER: "{{ .POSTGRES_USER }}"
        POSTGRES_PASS: "{{ .POSTGRES_PASS }}"
        POSTGRES_PORT: "{{ .POSTGRES_PORT }}"
        POSTGRES_DATABASE: bazarr
        INIT_POSTGRES_DBNAME: bazarr
        INIT_POSTGRES_HOST: "{{ .INIT_POSTGRES_HOST }}"
        INIT_POSTGRES_USER: "{{ .INIT_POSTGRES_USER }}"
        INIT_POSTGRES_PASS: "{{ .INIT_POSTGRES_PASS }}"
        INIT_POSTGRES_SUPER_PASS: "{{ .INIT_POSTGRES_SUPER_PASS }}"
  dataFrom:
    - extract:
        key: bazarr
