---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: bazarr
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: bazarr-secret
    template:
      data:
        BAZARR_POSTGRES_ENABLED: "true"
        BAZARR_POSTGRES_HOST: "{{ .POSTGRES_HOST }}"
        BAZARR_POSTGRES_USER: "{{ .POSTGRES_USER }}"
        BAZARR_POSTGRES_PASS: "{{ .POSTGRES_PASS }}"
        BAZARR_POSTGRES_PORT: "{{ .POSTGRES_PORT }}"
        BAZARR_POSTGRES_MAIN_DB: bazarr_main
        BAZARR_POSTGRES_LOG_DB: bazarr_log
        INIT_POSTGRES_DBNAME: bazarr_main bazarr_log
        INIT_POSTGRES_HOST: "{{ .INIT_POSTGRES_HOST }}"
        INIT_POSTGRES_USER: "{{ .INIT_POSTGRES_USER }}"
        INIT_POSTGRES_PASS: "{{ .INIT_POSTGRES_PASS }}"
        INIT_POSTGRES_SUPER_PASS: "{{ .INIT_POSTGRES_SUPER_PASS }}"
  dataFrom:
    - extract:
        key: bazarr
