---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: autobrr
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: autobrr-secret
    template:
      data:
        AUTOBRR__DATABASE_TYPE: "{{ .AUTOBRR_DATABASE_TYPE }}"
        AUTOBRR__POSTGRES_DATABASE: "{{ .AUTOBRR_POSTGRES_DATABASE }}"
        AUTOBRR__POSTGRES_HOST: "{{ .AUTOBRR_POSTGRES_HOST }}"
        AUTOBRR__POSTGRES_USER: "{{ .AUTOBRR_POSTGRES_USER }}"
        AUTOBRR__POSTGRES_PASS: "{{ .AUTOBRR_POSTGRES_PASS }}"
        AUTOBRR__POSTGRES_PORT: "{{ .AUTOBRR_POSTGRES_PORT }}"
        AUTOBRR__SESSION_SECRET: "{{ .AUTOBRR_SESSION_SECRET }}"
        INIT_POSTGRES_DBNAME: "{{ .INIT_POSTGRES_DBNAME }}"
        INIT_POSTGRES_HOST: "{{ .INIT_POSTGRES_HOST }}"
        INIT_POSTGRES_USER: "{{ .INIT_POSTGRES_USER }}"
        INIT_POSTGRES_PASS: "{{ .INIT_POSTGRES_PASS }}"
        INIT_POSTGRES_SUPER_PASS: "{{ .INIT_POSTGRES_SUPER_PASS }}"
  dataFrom:
    - extract:
        key: autobrr
