---
apiVersion: v1
kind: Service
metadata:
  name: nas
spec:
  ports:
    - name: http
      port: 8624
---
apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: nas-1
  labels:
    kubernetes.io/service-name: nas
addressType: IPv4
ports:
  - name: http
    appProtocol: http
    protocol: TCP
    port: 8624
endpoints:
  - addresses:
      - 192.168.3.5
