---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: radarr
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: radarr-secret
    template:
      data:
        RADARR__AUTH__APIKEY: "{{ .RADARR_APIKEY }}"
        RADARR__POSTGRES__HOST: "{{ .POSTGRES_HOST }}"
        RADARR__POSTGRES__PORT: "{{ .POSTGRES_PORT }}"
        RADARR__POSTGRES__USER: "{{ .POSTGRES_USER }}"
        RADARR__POSTGRES__PASSWORD: "{{ .POSTGRES_PASS }}"
        RADARR__POSTGRES__MAINDB: radarr-main
        RADARR__POSTGRES__LOGDB: radarr-log
        INIT_POSTGRES_DBNAME: radarr-main radarr-log
        INIT_POSTGRES_HOST: "{{ .INIT_POSTGRES_HOST }}"
        INIT_POSTGRES_USER: "{{ .INIT_POSTGRES_USER }}"
        INIT_POSTGRES_PASS: "{{ .INIT_POSTGRES_PASS }}"
        INIT_POSTGRES_SUPER_PASS: "{{ .INIT_POSTGRES_SUPER_PASS }}"
  dataFrom:
    - extract:
        key: radarr
