---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vpn-gateway
  namespace: vpn
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    controllers:
      vpn-gateway:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          routes:
            image:
              repository: ghcr.io/angelnu/pod-gateway
              tag: v1.13.0
            command:
              - /bin/gateway_init.sh
            securityContext:
              privileged: true
        containers:
          gateway:
            image:
              repository: ghcr.io/angelnu/pod-gateway
              tag: v1.13.0
            command:
              - /bin/gateway_sidecar.sh
            securityContext:
              capabilities:
                add: [ "NET_RAW", "NET_ADMIN" ]
          netshoot:
            image:
              repository: ghcr.io/nicolaka/netshoot
              tag: v0.14
            command:
              - /bin/sh
              - -c
              - sleep infinity
            resources:
              requests:
                cpu: 10m
                memory: 10M
              limits:
                memory: 50M
            securityContext:
              capabilities:
                add: [ "NET_ADMIN" ]
          gluetun:
            image:
              repository: ghcr.io/qdm12/gluetun
              tag: v3.40.3@sha256:ef4a44819a60469682c7b5e69183e6401171891feaa60186652d292c59e41b30
            env:
              TZ: "Australia/Sydney"
              VPN_TYPE: wireguard
              VPN_INTERFACE: wg0
              FIREWALL_ENABLED_DISABLING_IT_SHOOTS_YOU_IN_YOUR_FOOT: "off"
              DOT: "off"
              FIREWALL_VPN_INPUT_PORTS: "1637,41909,14857"
              WIREGUARD_MTU: 1320
            envFrom:
              - secretRef:
                  name: vpn-gateway-vpnconfig
            resources:
              requests:
                cpu: 15m
                memory: 64Mi
              limits:
                kernel.org/tun: 1
                memory: 128Mi
            securityContext:
              capabilities:
                add: [ "NET_ADMIN" ]
    service:
      app:
        controller: vpn-gateway
        type: ClusterIP
        clusterIP: None
        ports:
          vxlan:
            protocol: UDP
            port: 4789
    configMaps:
      config:
        enabled: true
        annotations:
          reflector.v1.k8s.emberstack.com/reflection-allowed: "true"
          reflector.v1.k8s.emberstack.com/reflection-auto-enabled: "true"
          reflector.v1.k8s.emberstack.com/reflection-auto-namespaces: "downloads"
        data:
          nat.conf: |
            # Placeholder
          nat6.conf: |
            # Placeholder
          settings.sh: |
            #!/bin/sh
            DNS_LOCAL_CIDRS="local"
            IPV4_ENABLED="true"
            IPV6_ENABLED="false"
            NOT_ROUTED_TO_GATEWAY_CIDRS="10.0.0.0/8 192.168.0.0/16"
            VPN_BLOCK_OTHER_TRAFFIC="false"
            VPN_INTERFACE="wg0"
            VPN_LOCAL_CIDRS="10.0.0.0/8 192.168.0.0/16"
            VPN_TRAFFIC_PORT="1637"
            VXLAN_GATEWAY_FIRST_DYNAMIC_IP="20"
            VXLAN_ID="44"
            VXLAN_IPV6_NETWORK="fd60:ca7f:e5d8:42e9"
            VXLAN_IP_NETWORK="172.16.1"
            VXLAN_PORT="4789"

    persistence:
      config:
        type: configMap
        name: vpn-gateway
        advancedMounts:
          vpn-gateway:
            routes:
              - path: /config
                readOnly: true
            gateway:
              - path: /config
                readOnly: true
