---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: sonarr
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: sonarr-secret
    template:
      data:
        SONARR__POSTGRES__HOST: "{{ .POSTGRES_HOST }}"
        SONARR__POSTGRES__PORT: "{{ .POSTGRES_PORT }}"
        SONARR__POSTGRES__USER: "{{ .POSTGRES_USER }}"
        SONARR__POSTGRES__PASSWORD: "{{ .POSTGRES_PASS }}"
        SONARR__POSTGRES__MAINDB: sonarr-main
        SONARR__POSTGRES__LOGDB: sonarr-log
        INIT_POSTGRES_DBNAME: sonarr-main sonarr-log
        INIT_POSTGRES_HOST: "{{ .INIT_POSTGRES_HOST }}"
        INIT_POSTGRES_USER: "{{ .INIT_POSTGRES_USER }}"
        INIT_POSTGRES_PASS: "{{ .INIT_POSTGRES_PASS }}"
        INIT_POSTGRES_SUPER_PASS: "{{ .INIT_POSTGRES_SUPER_PASS }}"
        SONARR__AUTH__APIKEY: "{{ .SONARR_API_KEY }}"
  dataFrom:
    - extract:
        key: sonarr
